<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheLibraryBg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3EA008E1BBC5E4600F0FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EA00A21BBC5E4600F0FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EA00AD1BBC5E4600F0FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
